@import "tailwindcss";

@media print {
  .noPrint {
    display: none !important;
  }

  body {
    background: white !important;
    color: black !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .page-break {
    page-break-after: always !important;
    break-after: page !important;
  }

  @page {
    size: A4 portrait;
    margin: 10mm 12mm;
  }
}
